<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>patflix</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginForm</display-name>
    <servlet-name>AdminLoginForm</servlet-name>
    <servlet-class>AdminLoginForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginForm</servlet-name>
    <url-pattern>/AdminLoginForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCart</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Checkout</display-name>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>Checkout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/Checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginForm</display-name>
    <servlet-name>LoginForm</servlet-name>
    <servlet-class>LoginForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginForm</servlet-name>
    <url-pattern>/LoginForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Movie</display-name>
    <servlet-name>Movie</servlet-name>
    <servlet-class>Movie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Movie</servlet-name>
    <url-pattern>/Movie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFirstLetter</display-name>
    <servlet-name>SearchFirstLetter</servlet-name>
    <servlet-class>SearchFirstLetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFirstLetter</servlet-name>
    <url-pattern>/SearchFirstLetter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchGenre</display-name>
    <servlet-name>SearchGenre</servlet-name>
    <servlet-class>SearchGenre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchGenre</servlet-name>
    <url-pattern>/SearchGenre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Star</display-name>
    <servlet-name>Star</servlet-name>
    <servlet-class>Star</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Star</servlet-name>
    <url-pattern>/Star</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addMovie</display-name>
    <servlet-name>addMovie</servlet-name>
    <servlet-class>addMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addMovie</servlet-name>
    <url-pattern>/addMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addMovieSubmit</display-name>
    <servlet-name>addMovieSubmit</servlet-name>
    <servlet-class>addMovieSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addMovieSubmit</servlet-name>
    <url-pattern>/addMovieSubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutConfirm</display-name>
    <servlet-name>CheckoutConfirm</servlet-name>
    <servlet-class>CheckoutConfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutConfirm</servlet-name>
    <url-pattern>/CheckoutConfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addStar</display-name>
    <servlet-name>addStar</servlet-name>
    <servlet-class>addStar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStar</servlet-name>
    <url-pattern>/addStar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addGenre</display-name>
    <servlet-name>addGenre</servlet-name>
    <servlet-class>addGenre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addGenre</servlet-name>
    <url-pattern>/addGenre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addStarSubmit</display-name>
    <servlet-name>addStarSubmit</servlet-name>
    <servlet-class>addStarSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStarSubmit</servlet-name>
    <url-pattern>/addStarSubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addGenreSubmit</display-name>
    <servlet-name>addGenreSubmit</servlet-name>
    <servlet-class>addGenreSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addGenreSubmit</servlet-name>
    <url-pattern>/addGenreSubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>manageUsers</display-name>
    <servlet-name>manageUsers</servlet-name>
    <servlet-class>manageUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageUsers</servlet-name>
    <url-pattern>/manageUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dbReports</display-name>
    <servlet-name>dbReports</servlet-name>
    <servlet-class>dbReports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbReports</servlet-name>
    <url-pattern>/dbReports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addUser</display-name>
    <servlet-name>addUser</servlet-name>
    <servlet-class>addUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addUser</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editPriv</display-name>
    <servlet-name>editPriv</servlet-name>
    <servlet-class>editPriv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editPriv</servlet-name>
    <url-pattern>/editPriv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showPriv</display-name>
    <servlet-name>showPriv</servlet-name>
    <servlet-class>showPriv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showPriv</servlet-name>
    <url-pattern>/showPriv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>liveSearch</display-name>
    <servlet-name>liveSearch</servlet-name>
    <servlet-class>liveSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>liveSearch</servlet-name>
    <url-pattern>/liveSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>moviePop</display-name>
    <servlet-name>moviePop</servlet-name>
    <servlet-class>moviePop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>moviePop</servlet-name>
    <url-pattern>/moviePop</url-pattern>
  </servlet-mapping>
</web-app>